header {
  background-color: #C3C3C3;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  border-radius: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    display: inline;
    margin-right: 50px;
  }
